
/* Desktop */

@media only screen and (min-width: 992px) {
    nav{
        box-sizing: border-box;

    }
    .background-white{
        
    }

    .nav-link{
        line-height: 1;
        font-size: 1rem;
        color: #ffffff;
        font-weight: 400;
    }

    .banner-content h1{
        
        font-weight: 700;
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 12px;
    }

    .border-bottom{
        border-bottom: none !important;
    }

    h3{
        font-size: 1.5em;
        font-weight: 800;
    }
}